.add-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 30px;
  border-radius: 50%;
  border: 0px;
  background: #007bff;
  color: #fff;
  height: 50px;
  width: 50px;
  font-size: 26px;
}
.tasks {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  cursor: pointer;
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    box-shadow: 0 0 0 5px #eeeeee;
  }
  &.complete {
    text-decoration: line-through;
  }
}
.height-70 {
  height: 70%;
}
.fa {
  &:hover {
    cursor: pointer;
  }
  font-size: 20px;
}
