.add-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 30px;
  border-radius: 50%;
  border: 0px;
  background: #007bff;
  color: #fff;
  height: 50px;
  width: 50px;
  font-size: 26px;
}
