<div class="centered-content">
  <div class="d-flex bg-light h-50 w-50 rounded">
    <div class="p-3 col-4 d-flex flex-column">
      <h2 class="heading">
        Lists
      </h2>
      <div class="pt-2 list-group">
        <div
          class="list-group-item"
          *ngFor="let item of lists"
          routerLinkActive="active"
          (click)="getTasks(item._id)"
          [routerLink]="['/lists', item._id]"
        >
          {{ item.title }}
        </div>
      </div>
      <button class="btn btn-primary mt-auto" [routerLink]="['/', 'new-list']">
        + New List
      </button>
    </div>

    <div class="p-3 col-8">
      <h2 class="heading mb-3">
        Tasks
      </h2>
      <div
        class="bg-white p-1 pl-3 mt-2 border rounded"
        *ngFor="let item of tasks"
      >
        {{ item.title }}
      </div>
      <button class="add-button">+</button>
    </div>
  </div>
</div>
