<div class="centered-content">
    <div class="modal-box">
      <h2 class="heading">SignUp</h2>
      <div class="form-group">
        <input
          #email
          class="form-control my-3"
          type="text"
          placeholder="Enter Email"
        />
        <input
          #password
          class="form-control my-3"
          type="text"
          placeholder="Enter Password"
        />
        <div class="d-flex justify-content-end">
          <button class="btn-primary btn" (click)="signUp(email.value, password.value)">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
  