<div class="centered-content">
  <div class="modal-box">
    <h2 class="heading">Login</h2>
    <div class="form-group">
      <input
        #username
        class="form-control my-3"
        type="text"
        placeholder="UserName"
      />
      <input
        #password
        class="form-control my-3"
        type="text"
        placeholder="Password"
      />
      <div class="d-flex justify-content-end">
        <button
          class="btn-primary btn"
          (click)="login(username.value, password.value)"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
